{{#each App.texturesController}}
  {{#view App.TextureListItemView}}
    <div class="width">{{doc.width}}</div>
    <div class="height">{{doc.height}}</div>
    <div class="semantic">{{doc.semantic}}</div>
    <div class="filename">{{filename}}</div>
    <div class="clear"></div>
  {{/view}}
{{/each}}
