{{#each App.texturesController}}
  {{#view App.TextureListItemView}}
    {{view App.EditableTextIntView valueBinding="doc.width" class="width"}}
    {{view App.EditableTextIntView valueBinding="doc.height" class="height"}}
    {{view App.EditableTextView valueBinding="doc.semantic" class="semantic"}}
    <div class="filename">{{filename}}</div>
  {{/view}}
{{/each}}
