@import 'app/css/vendor/bourbon/bourbon';

//$col_bg: #111;
//$col_fg: #fcf6e7;
//$col_fg_highlight: #43edab;

$col_bg: #233042;
$col_fg: white;
$col_fg_highlight: #5675e4;
$col_fg_highlight2: black;
$col_bg_highlight2: #d9dfe4;

$transition_time: 0.3s;

@include font-face(Roboto-Light,    '/fonts/Roboto-Light');
//@include font-face(Roboto-Regular,  '/fonts/Roboto-Regular');
//@include font-face(Roboto-Thin,     '/fonts/Roboto-Thin');

html {
  background-color: $col_bg;
  color: $col_fg;
  font-family: Roboto-Light, $helvetica;
  font-size: 12px;
}

.clear {
  clear: both;
}

.texture-list-item {
  $line-height: 14px;

  border-bottom: 1px solid $col_fg_highlight;
  height: $line-height;
  padding: {
    top: 2px;
    bottom: 2px;
  }

  @include transition(background-color $transition_time, color $transition_time);

  .filename, .width, .height, .semantic {
    height: $line-height;
    margin: {
      left: 5px;
      right: 5px;
    }
    text-align: right;
  }

  .filename {
    margin-left: ((2 * 30px) + 75px) + (3 * 10px);
  }

  .width, .height, .semantic {
    float: left;
  }
  .width, .height {
    width: 30px;
  }
  .semantic {
    width: 75px;
  }

  &:hover {
    background-color: lighten($col_bg, 10%);
    cursor: pointer;
    @include transition(background-color 0s);
  }
}
.texture-list-item.selected {
  background-color: $col_bg_highlight2;
  color: $col_fg_highlight2;

  &:hover {
    background-color: lighten($col_bg_highlight2, 10%);
  }
}

.texture-list {
  margin-left: 405px;
  margin-right: 5px;
}

.viewport {
  float:left;
  height: 400px;
  width: 400px;

  embed {
    height: 100%;
    width: 100%;
  }
}
